In [15]:
# !pip install -r ./requirements.txt

In [2]:
# !pip uninstall virny -y

In [4]:
# Install using an HTTP link
# !pip install git+https://github.com/DataResponsibly/Virny.git@development

# Install using an SSH link
# !pip install git+ssh://git@github.com/DataResponsibly/Virny.git@development

In [5]:
# !pip install aif360

In [6]:
# !pip install BlackBoxAuditing==0.1.54

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import os
import warnings
warnings.filterwarnings('ignore')
os.environ["PYTHONWARNINGS"] = "ignore"

In [3]:
cur_folder_name = os.getcwd().split('/')[-1]
if cur_folder_name != "fairness-variance":
    os.chdir("../..")

print('Current location: ', os.getcwd())

Current location:  /home/denys_herasymuk/UCU/4course_2term/Bachelor_Thesis/Code/fairness-variance

## Import dependencies

In [4]:
import os
import copy

from virny.utils.custom_initializers import create_config_obj
from virny.datasets import ACSPublicCoverageDataset

from configs.constants import TEST_SET_FRACTION, EXPERIMENT_SEEDS
from configs.models_config_for_tuning import get_folktables_employment_models_params_for_tuning

from source.experiment_interface import run_exp_iter_with_disparate_impact_and_mult_sets

WARNING:root:No module named 'tempeh': LawSchoolGPADataset will be unavailable. To install, run:
pip install 'aif360[LawSchoolGPA]'
WARNING:root:No module named 'tensorflow': AdversarialDebiasing will be unavailable. To install, run:
pip install 'aif360[AdversarialDebiasing]'
WARNING:root:No module named 'tensorflow': AdversarialDebiasing will be unavailable. To install, run:
pip install 'aif360[AdversarialDebiasing]'

## Define Input Variables

In [5]:
# ROOT_DIR = os.path.join(os.getcwd(), "..", "..")
ROOT_DIR = os.getcwd()
EXPERIMENT_NAME = 'one_repair_lvl_many_models_pubcov_CA'
DB_COLLECTION_NAME = 'one_repair_lvl_many_models'
SAVE_RESULTS_DIR_PATH = os.path.join(ROOT_DIR, 'results', EXPERIMENT_NAME)
FAIR_INTERVENTION_PARAMS_LST = [0.0, 0.6]

config_yaml_path = os.path.join(ROOT_DIR, 'notebooks', EXPERIMENT_NAME, 'folk_CA_2018_config.yaml')
metrics_computation_config = create_config_obj(config_yaml_path=config_yaml_path)

## Define a db writer and custom fields to insert into your database

In [6]:
import os
from dotenv import load_dotenv

load_dotenv('./configs/secrets.env')
os.getenv("DB_NAME")

'fairness_variance'

In [7]:
from source.utils.db_functions import connect_to_mongodb

client, collection_obj, db_writer_func = connect_to_mongodb(DB_COLLECTION_NAME)

In [9]:
import uuid

custom_table_fields_dct = {
    # 'session_uuid': str(uuid.uuid4()),
    'session_uuid': 'b3bbd637-7974-4723-b5b7-bb4cf26e8bbb',
}
print('Current session uuid: ', custom_table_fields_dct['session_uuid'])

Current session uuid:  b3bbd637-7974-4723-b5b7-bb4cf26e8bbb

## Initialize custom objects

In [10]:
data_loader = ACSPublicCoverageDataset(state=['CA'], year=2018, with_nulls=False,
                                       subsample_size=15_000, subsample_seed=42)
data_loader.X_data.head()

,SCHL,MAR,SEX,DIS,ESP,CIT,MIG,MIL,ANC,NATIVITY,DEAR,DEYE,DREM,ESR,ST,FER,RAC1P,AGEP,PINCP
0,19,5,1,2,0,1,3,4,1,1,2,2,2,6,6,0,1,21,3150.0
1,16,5,1,2,0,3,3,4,4,1,2,2,2,1,6,0,9,18,1600.0
2,13,5,2,2,1,1,1,0,2,1,2,2,2,6,6,2,1,16,0.0
3,20,1,2,2,0,4,1,4,1,2,2,2,2,6,6,2,8,43,0.0
4,16,1,2,2,0,4,1,4,1,2,2,2,2,6,6,0,6,54,0.0

In [11]:
data_loader.X_data.shape

(15000, 19)

In [12]:
data_loader2 = ACSPublicCoverageDataset(state=['CA'], year=2017, with_nulls=False,
                                        subsample_size=15_000, subsample_seed=42)
data_loader2.X_data.head()

,SCHL,MAR,SEX,DIS,ESP,CIT,MIG,MIL,ANC,NATIVITY,DEAR,DEYE,DREM,ESR,ST,FER,RAC1P,AGEP,PINCP
0,11,5,2,2,7,1,1,0,4,1,2,2,2,0,6,2,1,15,0.0
1,18,5,2,2,0,1,1,4,4,1,2,2,2,1,6,2,6,20,1700.0
2,19,1,2,2,0,4,1,4,1,2,2,2,2,1,6,0,6,54,28000.0
3,14,5,2,2,0,1,1,4,4,1,2,2,2,1,6,2,1,20,22000.0
4,15,5,2,2,0,1,1,4,1,1,2,2,2,3,6,2,8,20,2000.0

In [13]:
data_loader2.X_data.shape

(15000, 19)

In [14]:
data_loader3 = ACSPublicCoverageDataset(state=['TX'], year=2018, with_nulls=False,
                                        subsample_size=15_000, subsample_seed=42)
data_loader3.X_data.head()

Downloading data for 2018 1-Year person survey for TX...

,SCHL,MAR,SEX,DIS,ESP,CIT,MIG,MIL,ANC,NATIVITY,DEAR,DEYE,DREM,ESR,ST,FER,RAC1P,AGEP,PINCP
0,1,2,2,2,0,1,1,4,2,1,2,2,2,6,48,0,2,64,0.0
1,15,1,2,2,0,1,1,4,1,1,2,2,2,1,48,2,1,40,30000.0
2,22,1,2,2,0,1,1,4,4,1,2,2,2,6,48,0,1,55,50.0
3,16,5,1,2,0,1,1,4,1,1,2,2,2,6,48,0,1,54,2000.0
4,1,5,2,1,0,1,1,4,1,1,2,2,1,6,48,2,1,45,14000.0

In [15]:
data_loader3.X_data.shape

(15000, 19)

In [16]:
data_loader4 = ACSPublicCoverageDataset(state=['TX'], year=2017, with_nulls=False,
                                        subsample_size=15_000, subsample_seed=42)
data_loader4.X_data.head()

Downloading data for 2017 1-Year person survey for TX...

,SCHL,MAR,SEX,DIS,ESP,CIT,MIG,MIL,ANC,NATIVITY,DEAR,DEYE,DREM,ESR,ST,FER,RAC1P,AGEP,PINCP
0,20,1,1,2,0,1,1,4,1,1,2,2,2,1,48,0,1,31,23000.0
1,13,5,1,2,1,1,1,0,4,1,2,2,2,6,48,0,2,16,0.0
2,14,5,2,2,1,1,1,4,1,1,2,2,2,1,48,2,1,17,3300.0
3,13,5,1,2,2,1,1,0,2,1,2,2,2,6,48,0,9,16,0.0
4,13,1,2,2,0,4,1,4,1,2,2,2,2,6,48,0,1,61,0.0

In [17]:
data_loader4.X_data.shape

(15000, 19)

In [18]:
extra_data_loaders = [data_loader2, data_loader3, data_loader4]

## Run experiment iterations

### Experiment iteration 1

In [19]:
# tuned_params_filenames = ['tuning_results_Folktables_NY_2018_Employment_alpha_0.8_20230706__115508.csv']
# tuned_params_df_paths = [os.path.join(ROOT_DIR, 'results', EXPERIMENT_NAME, tuned_params_filename)
#                          for tuned_params_filename in tuned_params_filenames]

In [20]:
# Configs for an experiment iteration
exp_iter_num = 1
experiment_seed = EXPERIMENT_SEEDS[exp_iter_num - 1]
custom_table_fields_dct['experiment_iteration'] = f'Exp_iter_{exp_iter_num}'

exp_iter_data_loader = copy.deepcopy(data_loader)  # Add deepcopy to avoid data leakage
exp_extra_data_loaders = copy.deepcopy(extra_data_loaders)  # Add deepcopy to avoid data leakage
models_params_for_tuning = get_folktables_employment_models_params_for_tuning(experiment_seed)

In [21]:
run_exp_iter_with_disparate_impact_and_mult_sets(data_loader=exp_iter_data_loader,
                                                 extra_data_loaders=exp_extra_data_loaders,
                                                 experiment_seed=experiment_seed,
                                                 test_set_fraction=TEST_SET_FRACTION,
                                                 db_writer_func=db_writer_func,
                                                 fair_intervention_params_lst=FAIR_INTERVENTION_PARAMS_LST,
                                                 models_params_for_tuning=models_params_for_tuning,
                                                 metrics_computation_config=metrics_computation_config,
                                                 custom_table_fields_dct=custom_table_fields_dct,
                                                 with_tuning=True,
                                                 # with_tuning=False,
                                                 # tuned_params_df_paths=tuned_params_df_paths,
                                                 save_results_dir_path=SAVE_RESULTS_DIR_PATH,
                                                 verbose=True)

2023-08-02 01:02:42 experiment_interface.py INFO    : Start an experiment iteration for the following custom params:
INFO:root:Start an experiment iteration for the following custom params:

{'dataset_split_seed': 100,
 'experiment_iteration': 'Exp_iter_1',
 'fair_intervention_params_lst': '[0.0, 0.6]',
 'model_init_seed': 100,
 'session_uuid': 'b3bbd637-7974-4723-b5b7-bb4cf26e8bbb'}

2023-08-02 01:02:43 experiment_interface.py INFO    : The dataset is preprocessed
INFO:root:The dataset is preprocessed

Top indexes of an X_test in a base flow dataset:  Int64Index([10155, 11689, 12599, 12193,  8678,  8217,  4670, 12087,  5235,
             4189,  7278, 10642,  5284,  7002, 14642, 10594,  7701,  8686,
             8665,  6253],
           dtype='int64')
Top indexes of an y_test in a base flow dataset:  Int64Index([10155, 11689, 12599, 12193,  8678,  8217,  4670, 12087,  5235,
             4189,  7278, 10642,  5284,  7002, 14642, 10594,  7701,  8686,
             8665,  6253],
           dtype='int64')

Multiple alphas:   0%|          | 0/2 [00:00<?, ?it/s]

intervention_param:  0.0
2023/08/02, 01:02:46: Tuning LogisticRegression...
2023/08/02, 01:02:49: Tuning for LogisticRegression is finished [F1 score = 0.6505039302179426, Accuracy = 0.7024444444444445]

2023/08/02, 01:02:49: Tuning RandomForestClassifier...

2023-08-02 01:03:02 experiment_interface.py INFO    : Models are tuned and saved to a file
INFO:root:Models are tuned and saved to a file

2023/08/02, 01:03:02: Tuning for RandomForestClassifier is finished [F1 score = 0.6403467204096317, Accuracy = 0.6757777777777778]

Multiple runs progress:   0%|          | 0/1 [00:00<?, ?it/s]

Analyze models in one run:   0%|          | 0/2 [00:00<?, ?it/s]

Classifiers testing by bootstrap:   0%|          | 0/20 [00:00<?, ?it/s]

Classifiers testing by bootstrap:   0%|          | 0/20 [00:00<?, ?it/s]

intervention_param:  0.6
2023/08/02, 01:04:54: Tuning LogisticRegression...
2023/08/02, 01:04:55: Tuning for LogisticRegression is finished [F1 score = 0.6505760515629043, Accuracy = 0.7022222222222222]

2023/08/02, 01:04:55: Tuning RandomForestClassifier...
2023/08/02, 01:05:05: Tuning for RandomForestClassifier is finished [F1 score = 0.650848247070797, Accuracy = 0.6855555555555556]

Multiple runs progress:   0%|          | 0/1 [00:00<?, ?it/s]

Analyze models in one run:   0%|          | 0/2 [00:00<?, ?it/s]

Classifiers testing by bootstrap:   0%|          | 0/20 [00:00<?, ?it/s]

Classifiers testing by bootstrap:   0%|          | 0/20 [00:00<?, ?it/s]

### Experiment iteration 2

In [21]:
# Configs for an experiment iteration
exp_iter_num = 2
experiment_seed = EXPERIMENT_SEEDS[exp_iter_num - 1]
tuned_params_filenames = [
    'tuning_results_Folktables_GA_2018_Income_alpha_0.0_20230726__213737.csv',
    'tuning_results_Folktables_GA_2018_Income_alpha_0.7_20230726__214146.csv',
]
tuned_params_df_paths = [os.path.join(ROOT_DIR, 'results', EXPERIMENT_NAME, tuned_params_filename)
                         for tuned_params_filename in tuned_params_filenames]
custom_table_fields_dct['experiment_iteration'] = f'Exp_iter_{exp_iter_num}'

exp_iter_data_loader = copy.deepcopy(data_loader)  # Add deepcopy to avoid data leakage
exp_extra_data_loaders = copy.deepcopy(extra_data_loaders)  # Add deepcopy to avoid data leakage
models_params_for_tuning = get_folktables_employment_models_params_for_tuning(experiment_seed)

In [2]:
run_exp_iter_with_disparate_impact_and_mult_sets(data_loader=exp_iter_data_loader,
                                                 extra_data_loaders=exp_extra_data_loaders,
                                                 experiment_seed=experiment_seed,
                                                 test_set_fraction=TEST_SET_FRACTION,
                                                 db_writer_func=db_writer_func,
                                                 fair_intervention_params_lst=FAIR_INTERVENTION_PARAMS_LST,
                                                 models_params_for_tuning=models_params_for_tuning,
                                                 metrics_computation_config=metrics_computation_config,
                                                 custom_table_fields_dct=custom_table_fields_dct,
                                                 # with_tuning=True,
                                                 with_tuning=False,
                                                 tuned_params_df_paths=tuned_params_df_paths,
                                                 save_results_dir_path=SAVE_RESULTS_DIR_PATH,
                                                 verbose=True)

### Experiment iteration 3

### Experiment iteration 4

### Experiment iteration 5

### Experiment iteration 6